<?xml version="1.0" encoding="utf-8"?>
<xrmFramework selectedConnection="Xrm">
  <entitySolution name="Entities_Solution_UniqueName" />
  <projects>
    <add name="Plugins" targetSolution="Plugin_Solution_UniqueName" type="PluginsWorkflows" />
    <add name="Workflows" targetSolution="Workflow_Solution_UniqueName" type="PluginsWorkflows" />
    <add name="Webresources" targetSolution="WebResource_Solution_UniqueName" type="WebResources" />
  </projects>
</xrmFramework>
