<?xml version="1.0" encoding="utf-8"?>
<xrmFramework selectedConnection="XrmBuild">
  <entitySolution name="CQC_Entity" />
  <projects>
    <add name="Plugins" targetSolution="CQC_Plugins" type="PluginsWorkflows" />
    <add name="Workflows" targetSolution="CQC_Process" type="PluginsWorkflows" />
    <add name="Webresources" targetSolution="CQC_WebResource" type="WebResources" />
  </projects>
</xrmFramework>