<?xml version="1.0" encoding="utf-8"?>

<!-- 
    You will find here the configuration for the deployment
    
    <entitySolution name="" /> tag allows specifying the solution unique name of the solution containing the entities
    
    The <projects> tag allows specifying the list of projects that needs to be deployed and the corresponding solution unique name.
    
    There is no real need for the solutions to be different but it is a commonly accepted best practice to separate solutions.
  -->
<xrmFramework selectedConnection="Xrm">
  <entitySolution name="Entities" />
  <projects>
    <add name="Plugins" targetSolution="Plugins" type="PluginsWorkflows" />
    <add name="Workflows" targetSolution="WorkflowsSolutionUniqueName" type="PluginsWorkflows" />
    <add name="Webresources" targetSolution="XrmFrameworkDebugger" type="WebResources" />
  </projects>
</xrmFramework>