<?xml version="1.0" encoding="utf-8"?>
<xrmFramework selectedConnection="Xrm">
  <entitySolution name="EntitySolutionUniqueName" />
  <projects>
    <add name="Plugins" targetSolution="PluginsSolutionUniqueName" type="PluginsWorkflows" />
    <add name="Workflows" targetSolution="WorkflowsSolutionUniqueName" type="PluginsWorkflows" />
    <add name="Webresources" targetSolution="WebresourcesSolutionUniqueName" type="WebResources" />
  </projects>
</xrmFramework>